@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

$myColor: black;
$mySize: 2rem;

.App {
  color: $myColor;
  font-size: $mySize;
}

.navbar-brand {
  font-size: $mySize;
}

.nav-link {
  padding: auto $mySize;
  margin: auto $mySize;
}

.row {
  border: black solid 2px;
}

.col {
  border: black solid 2px;
}
